Ex: x=5+2

Syntax: The code is properly structured.

Semantics: It means “add 5 and 2 and store 7 in x.”

In [37]:
# Case-sensitivity - Puython is case sensitive

name="Yesh"
Name="Rev"

print(name)
print(Name)

name==Name

Yesh
Rev

False

In [27]:
# Indentation:

age = 31
if age<30:
    print(age)
print(age)

31

In [28]:
# Single-line comment

print("Hi!")

Hi!

In [29]:
# Line Continuation:

total = 1+2+3+3+\
4+3+5

print(total)

21

In [30]:
# Multiple statement on a single line

x=5;y=10;z=x+y

print(z)

15

In [31]:
# name error

a=b

NameError: name 'b' is not defined

In [13]:
# Code examples of Indentation:

if True:
    print("Indented properly")
    if False:
        print("Not printed")
    print("But it prints")
print("Outside the if block")

Indented properly
But it prints
Outside the if block

In [40]:
age=25
print(type(age))

# type conversion:
age_str=str(age)
print(type(age_str))
type(age_str)

<class 'int'>
<class 'str'>

str

In [42]:
age='25'
type(age)
type(int(age))

int

In [44]:
name='Yesh'
type(name)
type(int(name))

ValueError: invalid literal for int() with base 10: 'Yesh'

In [45]:
ht=5.7
type(ht)

float

In [50]:
float(int(ht))

5.0

In [2]:
# Input

age=int(input("Enter your age:"))
print(age,type(age))

23 <class 'int'>

In [3]:
# Simple Calculator:

a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))

addition=a+b
sub=a-b
mul=a*b
div=a/b

print("Sum:",addition)
print("Difference:",sub)
print("Multiply:",mul)
print("Divide:",div)

Sum: 15
Difference: 5
Multiply: 50
Divide: 2.0

In [5]:
is_student=True
type(is_student)

bool

In [9]:
a=10
b=5

print(a==b)
type(a==b)

False

bool

In [10]:
res="hello"+5

TypeError: can only concatenate str (not "int") to str

In [12]:
res="hello"+"5"
print(res)

hello5

In [13]:
res="hello"+str(5)
print(res)

hello5

In [18]:
str.isupper(res)

False

In [21]:
name1="Yesh"
name2="Yesh"
print(name1!=name2)

False

In [29]:
x=True
y=False

print(x and y)
print(x or y)
print(not y)

False
True
True