In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [3]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [5]:
# List comprehension:

lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
lst=[]
for x in range(10):
    if x%2==0:
        lst.append(x)
print(lst)

[0, 2, 4, 6, 8]

In [17]:
lst=[]
for x in range(10):
    if x%2==0:
        lst.append(x)
print(lst)

[0, 2, 4, 6, 8]

In [20]:
even_numbers = [x for x in range(10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [22]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d']
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd']]

In [23]:
words = ['Hello','World','list','Pytghon']
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 4, 7]

In [26]:
lst = [1,2,3,4]
print(lst)
print(lst*3)

[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [28]:
tup=(1,2,3)
print(tup)
print(tup*3)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [49]:
mix=tup+('me','you','you')
print(mix)

(1, 2, 3, 'me', 'you', 'you')

In [50]:
mix.count('you')

2

In [51]:
mix.index(3)

2

In [45]:
tup1=1,'def',67
tup1

(1, 'def', 67)

In [48]:
a,*c=tup1
print(a,c)

1 ['def', 67]

In [63]:
nested_tuple = ((1,2,3),("a","b",'c'),("True","False"))

for sub_tuple in nested_tuple:
    for each in sub_tuple:
        print(each,end=" ")
    print()

1 2 3
a b c
True False

In [79]:
my_set = set((12,2,3,4,4,5,6,12))
my_set

{2, 3, 4, 5, 6, 12}

In [80]:
my_set.add(6)
print(my_set)
my_set.remove(12)
print(my_set)

{2, 3, 4, 5, 6, 12}
{2, 3, 4, 5, 6}

In [84]:
removed_element=my_set.pop()
print(removed_element)
print(my_set)

4
{5, 6}

In [85]:
my_set.clear()
print(my_set)

set()

In [87]:
my_set ={1,2,3,4,5,6}
print(3 in my_set)
print(12 in my_set)

True
False

In [96]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

union_set =set1.union(set2)
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

set2.intersection_update(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [108]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

In [102]:
set2.difference(set1)

{7, 8, 9}

In [103]:
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [111]:
set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))
print(set2.issubset(set1))

False
True

In [112]:
lst=[1,2,3]
print(set(lst))

{1, 2, 3}

In [113]:
tup=(1,2,3)
print(set(tup))

{1, 2, 3}

In [118]:
### Counting Unique words in text

text="In this are tutorial we are discussing about about sets sets"
words=text.split()

unique_words =set(words)
print(unique_words)
print(len(unique_words))

{'we', 'discussing', 'about', 'are', 'this', 'tutorial', 'sets', 'In'}
8

In [132]:
student = {"name":"Revt","age":35}
print(student)
print(student.keys())
print(student.values())

{'name': 'Revt', 'age': 35}
dict_keys(['name', 'age'])
dict_values(['Revt', 35])

In [135]:
student = {"name":"Revt","age":35}
print(student["age"])
print(student.get('age'))

35
35

In [143]:
student['age'] = 38
print(student)
student['country'] = 'India'
print(student)
print(student.get('grade'))
print(student.get('grade',"Not available"))

{'name': 'Revt', 'country': 'India', 'age': 38}
{'name': 'Revt', 'country': 'India', 'age': 38}
None
Not available

In [139]:
del student['age']
print(student)

{'name': 'Revt', 'country': 'India'}

In [146]:
keys=student.keys()
print(keys)
values=student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'country', 'age'])
dict_values(['Revt', 'India', 38])
dict_items([('name', 'Revt'), ('country', 'India'), ('age', 38)])

In [147]:
student_copy = student
student_copy1 =student.copy()
student['name']='Yesh'
print(student)
print(student_copy)
print(student_copy1)

{'name': 'Yesh', 'country': 'India', 'age': 38}
{'name': 'Yesh', 'country': 'India', 'age': 38}
{'name': 'Revt', 'country': 'India', 'age': 38}

In [148]:
for key in student.keys():
    print(key)

name
country
age

In [150]:
for value in student.values():
    print(value)

Yesh
India
38

In [152]:
for key,value in student.items():
    print(key,":",value)

name : Yesh
country : India
age : 38

In [156]:
# nested dictionaries:

student = {"student1" : {"name":"Revt","age":35},
           "student2" : {"name":"Yes","grade":5}}
print(student)

print(student["student1"]["name"])

{'student1': {'name': 'Revt', 'age': 35}, 'student2': {'name': 'Yes', 'grade': 5}}
Revt

In [162]:
student["student1"].items()

dict_items([('name', 'Revt'), ('age', 35)])

In [166]:
for name,info in student.items():
    print(name,info)
    for key,value in info.items():
        print(key,value)

student1 {'name': 'Revt', 'age': 35}
name Revt
age 35
student2 {'name': 'Yes', 'grade': 5}
name Yes
grade 5

In [169]:
squares = {x:x**2 for x in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [170]:
evens = {x:x**2 for x in range(10) if x%2==0}
print(evens)
odds = {x:x**2 for x in range(10) if x%2==1}
print(odds)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [180]:
numbers = [1,2,2,3,3,3,4,5,5,5,5,5,5,6,6,7]
frequency = {}

for num in numbers:
    if num in frequency:
        frequency[num] +=1
    else:
        frequency[num]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 1, 5: 6, 6: 2, 7: 1}

In [184]:
dict1 = {"name":"Revt","age":36}
dict2 = {"name":"Yesh","garde":5}
merged_dict = {**dict1,**dict2}
print(merged_dict)

{'name': 'Yesh', 'age': 36, 'garde': 5}

In [187]:
# to do list to keep track of tasks:

to_do_list = ['Buy Groceries', 'Pay Bills','Clean the house']

# adding tasks to th list:
to_do_list.append("Schedule Meeting")
to_do_list.append("Go for a Run")

to_do_list.remove("Clean the house")

if 'Pay Bills' in to_do_list:
    print("Dont forget to pay the utility bill")

print("To do list remaining:")
for task in to_do_list:
    print(f"-{task}")

Dont forget to pay the utility bill
To do list remaining:
-Buy Groceries
-Pay Bills
-Schedule Meeting
-Go for a Run

In [188]:
# Create a list to store and calculate average grades for students

grades = [85,92,78,90,88]
grades.append(95)

avg_grade = sum(grades)/len(grades)
print("Average Grade:",avg_grade)
print("Highest Grade:",max(grades))
print("Lowest Grade:",min(grades))

Average Grade: 88.0
Highest Grade: 95
Lowest Grade: 78

In [190]:
# Use a list to manage inventory items in a store

inv_items =["apples","bananas","oranges","grapes"]

inv_items.append("Strawberries")
inv_items.remove("bananas")

item="oranges"
if item in inv_items:
    print("In stock")
else:
    print("out of stock")

print("Inventory List:")
for item in inv_items:
    print(f"-{item}")

In stock
Inventory List:
-apples
-oranges
-grapes
-Strawberries

In [192]:
# Use a list to collect and analyze user feedback

feedback = ['Great Service','Very Satisfied','Could be Better','Excellent']

feedback.append('Not happy with the service')

positive_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower() or "satisfied" in comment.lower())
print(positive_count)

print("User feedback:")
for each in feedback:
    print(f"-{each}")

3
User feedback:
-Great Service
-Very Satisfied
-Could be Better
-Excellent
-Not happy with the service