In [2]:
def even_or_odd(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

even_or_odd(23)

Odd

In [10]:
def add(a,b):
    return a+b


add(2,3)

5

In [11]:
def greet(name):
    print(f"Hello! {name}, Welcome you!!!")

greet("Revt")

Hello! Revt, Welcome you!!!

In [15]:
def numbers(*num):
    for n in num:
        print(n)

numbers(1,2,3,"yuiu")

1
2
3
yuiu

In [27]:
def print_details(*args,**kwargs):
    for val in args:
        print(val)
    for key,value in kwargs.items():
        print(f"{key}:{value}")


print_details(1,2,3,name="Yesh",age="sdsd")

1
2
3
name:Yesh
age:sdsd

In [29]:
def mul(a,b):
    return a*b,a

mul(3,4)

(12, 3)

In [32]:
# Temperature Conversion:
def convert_temp(temp,unit):
    if unit == 'C':
        return temp * 9/5 +32
    elif unit == 'F':
        return (temp-32)*5/9
    else:
        return None
    
print(convert_temp(32,'C'))

89.6

In [36]:
# 2. password strengtgh checker

def password_strength(psswd):
    if len(psswd) < 8:
        return False
    if not any(x.isdigit() for x in psswd):
        return False
    if not any(x.islower() for x in psswd):
        return False
    if not any(x.isupper() for x in psswd):
        return False
    if not any(x in '!@#$%^&*()_+' for x in psswd):
        return False
    return True

print(password_strength("Weakpwd"))
print(password_strength("Str0ng12$"))

False
True

In [39]:
def total_cart_price(cart):
    total_cost=0
    for item in cart:
        total_cost += item['price']*item['quantity']
        return total_cost
    
cart=[{'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':6},
    {'name':'Orange','price':0.7,'quantity':3}]

total_cost=calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [47]:
def check_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(check_palindrome("A man a plan a canal Panama"))
print(check_palindrome("make"))

True
False

In [49]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

In [ ]:
# 6: A Function To Read A File and count the frequency of each word
def count_word_frequency(file_path):
    word_count={}
    with open(file_path,'r') as file:
        for line in file:
            words=line.split()
            for word in words:
                word=word.lower().strip('.,!?;:"\'')
                word_count[word]=word_count.get(word,0)+1
    
    return word_count

filepath='sample.txt'
word_frequency=count_word_frequency(filepath)
print(word_frequency)

FileNotFoundError: [Errno 2] No such file or directory: 'bkhhoihio jhioho njhoijho niohoih jbihi '

In [2]:
add = lambda a,b,c : a+b+c
add(1,2,3)

6

In [4]:
even = lambda x:x%2==0
even(3)

False

In [11]:
def square(num):
    return num**2
square(2)

4

In [10]:
numbers=[1,2,3,4,5]
print(list(map(lambda x:x**2,numbers)))

num = lambda x:x**2
print(num(8))

[1, 4, 9, 16, 25]
64

In [20]:
names = ['Anil', "Revathi", "Tom", "Arun", "Diana"]

even_names = list(filter(lambda x:len(x)%2==0,names))

print("Names with even number of character:",even_names)

Names with even number of character: ['Anil', 'Arun']

In [30]:
scores = [85,70,45,90,60]

grade_from_score = list(map(lambda s : f"{s} % - Grade" + ("A" if s>=80 else "B" if s>=60 else "F" ),scores))

print("Formatted Scores:")
print(grade_from_score)
for x in grade_from_score:
    print(x)

Formatted Scores:
['85 % - GradeA', '70 % - GradeB', '45 % - GradeF', '90 % - GradeA', '60 % - GradeB']
85 % - GradeA
70 % - GradeB
45 % - GradeF
90 % - GradeA
60 % - GradeB

In [40]:
names = ["revathi", "anil", "john", "saranya"]

formatted_names = list(map(lambda name:name.capitalize() if len(name) >4 else name, names))

print(formatted_names)

['Revathi', 'anil', 'john', 'Saranya']

In [ ]:
names = ["revathi", "anil", "john", "saranya"]

formatted_names = list(map(lambda name:name.capitalize(), names))

print(formatted_names)

In [58]:
people = [("revathi", "F"), ("john", "M"), ("sara", "F")]

people_gender = list(map(lambda each:("Ms. " if "F" else "Mr. " )+each[0].capitalize(), people))
print(people_gender)


for p in people_gender:
    print(p)

['Ms. Revathi', 'Ms. John', 'Ms. Sara']
Ms. Revathi
Ms. John
Ms. Sara

In [64]:
dates = ['2025/07/10', '2023/01/01']

formatted = list(map(lambda date:'-'.join(reversed(date.split('/'))),dates))
formatted

['10-07-2025', '01-01-2023']

In [72]:
scores = [75, 30, 45, 60, 20]

evaluated = list(map(lambda score : f"{score} - {"Pass" if score>=40 else "Fail"}",scores))
evaluated

['75 - Pass', '30 - Fail', '45 - Pass', '60 - Pass', '20 - Fail']

In [75]:
scores = [75, 30, 45, 60, 20]

evaluated = list(map(lambda score : f"{score} - " + ("Pass" if score>=40 else "Fail"),scores))
evaluated

['75 - Pass', '30 - Fail', '45 - Pass', '60 - Pass', '20 - Fail']

In [95]:
phones = ['1234567890', '9876543210']

formatted = list(map(lambda phone : f"({phone[:3]}) {phone[3:6]}-{phone[6:]}",phones))
formatted

['(123) 456-7890', '(987) 654-3210']

In [103]:
a = [10, 20, 30]
b = [1, 2, 3]

add = list(map(lambda x,y : x+y,a,b))
add

[11, 22, 33]

In [107]:
marks = [[80, 90, 70], [60, 40, 100], [50, 50, 50]]

avg_marks = list(map(lambda m : sum(m)/len(m), marks))
avg_marks

[80.0, 66.66666666666667, 50.0]

In [108]:
num =[1,2,3,4,5]
list(map(lambda n:n**2,num))

[1, 4, 9, 16, 25]

In [114]:
### MAp multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

add = list(map(lambda x,y:x+y, numbers1,numbers2))
add

[5, 7, 9]

In [115]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers
str_numbers = ['1', '2', '3', '4', '5']

str_to_int = list(map(lambda x:int(x), str_numbers))
str_to_int

[1, 2, 3, 4, 5]

In [116]:
int_numbers = list(map(int, str_numbers))
int_numbers

[1, 2, 3, 4, 5]

In [117]:
words=['apple','banana','cherry']

upper_words = list(map(lambda word:word.upper(),words))
upper_words

['APPLE', 'BANANA', 'CHERRY']

In [119]:
cap_words = list(map(lambda x:x.capitalize(), words))
cap_words

['Apple', 'Banana', 'Cherry']

In [124]:
def get_name(person):
    return person["Name"]

people = [{"Name":"Yesh","Age":12},{"Name":"Revt","Age":37}]

list(map(get_name,people))

['Yesh', 'Revt']

In [127]:
def even(num):
    if num%2==0:
        return True
    
even(2)

True

In [128]:
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [132]:
lst = [1,2,3,4,5,6,7,8,9,10]

graeter_than_5 = list(filter(lambda x:x>5,lst))
graeter_than_5

[6, 7, 8, 9, 10]

In [134]:
lst = [1,2,3,4,5,6,7,8,9,10]
even_greater_dan_5 = list(filter(lambda x: x%2==0 and x>5, lst))
even_greater_dan_5

[6, 8, 10]

In [138]:
## Filter() to check if the age is greate than 25 in dictionaries
people=[{'name':'Krish','age':32},
        {'name':'Jack','age':33},
        {'name':'John','age':25}]

def age_check(input1):
    return input1['age']>25

list(filter(age_check,people))

[{'name': 'Krish', 'age': 32}, {'name': 'Jack', 'age': 33}]

In [142]:
# 1. Filter names with only alphabets (no digits or symbols)
names = ["Revathi", "John23", "Sara", "anil_89", "Tom"]

filter_names = list(filter(lambda x : x.isalpha(),names ))
print(filter_names)


# Using fn:

def fil_names(lst):
    return lst.isalpha()

print(list(filter(fil_names,names)))

['Revathi', 'Sara', 'Tom']
['Revathi', 'Sara', 'Tom']

In [144]:
# 2. Filter email addresses that belong to a domain

emails = ["john@gmail.com", "rev@yahoo.com", "anu@gmail.com"]

def chk_email(inp1):
    return inp1.endswith("@gmail.com")

list(filter(chk_email,emails))

['john@gmail.com', 'anu@gmail.com']

In [147]:
list(filter(lambda x:x.endswith("@gmail.com"), emails))

['john@gmail.com', 'anu@gmail.com']

In [148]:
# 3. Filter valid ages (between 18 and 60 inclusive)

ages = [12, 25, 70, 40, 17, 59]

list(filter(lambda x: 18< x<=60, ages))

[25, 40, 59]

In [151]:
def age(enter):
    return enter > 18 and enter <=60

list(filter(age,ages))

[25, 40, 59]

In [153]:
# 4. Filter words that are palindromes

words = ["level", "world", "radar", "python", "madam"]

list(filter(lambda x : x == x[::-1], words))

['level', 'radar', 'madam']

In [159]:
def palindrome(inp2):
    return inp2==inp2[::-1]

list(filter(palindrome,words))

['level', 'radar', 'madam']

In [162]:
#  5. Filter students who passed all subjects

marks = [[40, 60, 50], [30, 70, 90], [80, 85, 90]]  # min pass mark = 35

list(filter(lambda m: all(x>35 for x in m), marks))

[[40, 60, 50], [80, 85, 90]]

In [170]:
marks = [[40, 60, 50], [30, 70, 90], [80, 85, 90]] 
def check_pass(mark_list):
    return all(mark>35 for mark in mark_list)

list(filter(check_pass,marks))

[[40, 60, 50], [80, 85, 90]]

In [174]:
# From a list of numbers, filter even numbers, then return their square roots
nums = [1, 4, 9, 16, 25, 36]

list(map(lambda x:x**2 , filter(lambda x:x%2==0,nums)))

[16, 256, 1296]

In [180]:
def is_even(num_list):
    return num_list%2==0

def square(num_list):
    return num_list**2

list(map(square,filter(is_even,nums)))

[16, 256, 1296]

In [184]:
students = [("Tom", 90), ("Anu", 95)]
best = max(students, key=lambda x: x[1])
best

('Anu', 95)